.test
  Test
.hello
  Hello
.underscore
  = _("Underscore Text")
.inline Inline Text
.block
  block of text
.localize_filter
  :localize
    text in localize filter
.interpolation
  :localize
    text in localize filter with %{inum} interpolations